.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    color: var(--color-secondary);
    font-family: 'Poppins';
}

.grid__container {
    grid-column: 2/8;
    background-color: #005f9f;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    margin: 10px;

    &::before {
        width: 100%;
        height: 100%;
        background-color: #005f9f59;
        position:absolute;
        top: 0;
        left: 0;
        z-index: 1;
        content: " ";
       
        
    }
}


img {
    filter: blur(5px);
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.box
{
    z-index: 2;
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    padding: 20px;
}

.box-search
{
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 50px;
}

.search-input
{
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 15px;
  font-family:"Poppins";
  border-radius: 20px;
  padding: 5px;
  border: none;
  outline: none;
}

.search-button
{
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: white;
    background: #67B26F;
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);
    background: linear-gradient(to right, #4ca2cd, #67B26F);
    border-radius: 15px;

    &:hover{
        cursor: pointer;
        color: #000;
    }
}

@media screen and (max-width:944px) {
    img {
        object-fit: cover;
        object-position: center center;
    }
    .grid__container
    {
        grid-column: 1/-1;
        margin:0;
        padding: 0;
    }
}