<div class="grid">
    <div class="grid__container">
        <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/8A64/production/_121882453_e22f709d-613a-4872-b532-3d5667aa6860.jpg"
            alt="">
        <div class="box">
            <div class="text">
                <h1>Welcome. <br>
                    Millions of movies, TV shows and people to discover. Explore now.</h1>
            </div>
            <div class="box-search">
                <input #search class="search-input" placeholder="Search for a movies, tv show..." type="search" name=""
                    id="" required>
                <button (click)="searchMovie()" class="search-button">Search</button>
            </div>

           
        </div>
    </div>
</div>