<!-- Main component -->
<!-- <app-netplix-search /> -->



<!-- <app-netplix-show-movie></app-netplix-show-movie> -->

<router-outlet></router-outlet>


<!-- 
<div class="buscador">
    <input #search type="search" name="" id="" >
    <button (click)="buscar()">BUSCAR</button>

    <div class="peliculas" *ngFor="let pelicula of busquedaActual">
        <h1>{{pelicula.title}}</h1>
        <div class="img" *ngIf="pelicula.backdrop_path">
            <img [src]="'https://image.tmdb.org/t/p/w500'+ pelicula.backdrop_path">
        </div>
    </div>
</div> -->